* { margin: 0 auto; box-sizing: border-box; } 

body { 
    font-size: 1rem; 
    line-height: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

h1 {
    font-size: 2rem;
    color: whitesmoke;
}

h2 {
    font-size: 1.25rem;
    text-align: center;
    border-bottom: 1px solid rgb(0, 0, 27);
}

header, main, footer {
    margin: 1rem auto;
    padding: 1rem;
    max-width: 900px;
}

header, footer, footer a {
    text-align: center;
    background-color: rgb(0, 0, 27);
    color: whitesmoke;
}

header img {
    width: 200px;
    height: auto;
    float: right;
}

footer {
    font-size: 0.75rem;
}
