* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: rgba(33,41,48);
}
h4 {
    font-size: 1.25em;
    padding: .25em 0;
    font-family: paprika, sans-serif;
    }


header {
    background-color: rgba(33,41,48);

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: 'Paprika', cursive;
    font-size: 2rem;
    color: rgb(241,239,235);
    padding: .1em;
    margin: 0px;
}

.motto {
    font-size: .9rem;
    color: rgb(241,239,235);
    padding: .2em;
    /*border: 3px solid pink;*/
    font-weight: inherit;
    display: block;
}

header img {
    padding: 5px;
    /*border: 3px solid yellow;*/
    margin: 0;
}


main,
footer {
    max-width: 60rem;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(241,239,235);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.navigation li {
    width: 100%;
}

.navigation li a {
    display: block;
    color: rgba(33,41,48);
    padding: .75rem 0;
    text-decoration: none;
    font-size: 1rem;
    height: 100%;
}

.navigation li a.active {
    background-color: rgb(52,103,92);
    color: rgb(241,239,235);
}

.navigation li a:hover:not(.active) {
    background-color: rgb(52,103,92,0.5);
    font-weight: 700;
}

.navigation li a:hover {
    font-weight: 700;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

.cityname {
    font-family: roboto, sans-serif;
    text-align: center;
    margin: 15px auto;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(52,103,92);
    padding: .25em;
    color: rgb(241,239,235);
}

.weathersummary {
    position: relative;

}

#current {
    text-transform: capitalize;
}

.cityimage {
    width: 100%;
    box-shadow: 0 0 10px 5px rgb(221,221,221);
    margin-top: 1em;
}

.summary {
    position: absolute;
    top: 1rem;
    left: 1rem;
    border: 2px solid rgba(33,41,48);
    box-shadow: 0 0 10px 5px rgba(33,41,48,0.3);
    border-radius: 5px;
    background-color: rgba(33,41,48,0.8);
    padding: .3rem;
    line-height: 1.2em;
    letter-spacing: .12em;
}

.summary h3 {
    color: rgb(241,239,235);
    text-align: center;
    font-weight: bolder;
    line-height: 1.7em;
    font-size: 1.25em;
    text-decoration-line: none;
    font-family: Paprika;
}

.summarydetails {
    margin: 0 auto;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.summarydetails .value span {
    color: rgb(248,233,23);
}

.label {
    color: rgb(241,239,235);
    display: inline;
    grid-column-start: 1;
    margin: 0;
    text-align: right;
}

.value {
    color: rgb(248,233,23);
    display: inline;
    grid-column-start: 2;
    margin: 0;
}

.fivedayforecast {
    max-width: 768px;
    margin: 10px auto;
    text-align: center;
    display: none;
}

.forecasticon img {
    max-width: 50px;
}

.forecasttable {
    border: 1px solid rgba(33,41,48);
    /*column-width: 100px;*/
    width: 100%;
    background-color: rgba(33,41,48,0.8);
    color: rgb(241,239,235);
    font-size: 1em;
}

.forecasttable th {
    font-size: 1em;
    padding: 3px;
    width: 20%;
    color: rgb(241,239,235);
}

.temperature td, .temperature span {
    color: rgb(241,239,235);
}

article h5 {
    font-family: paprika, sans-serif;
    padding: 5px;
}

article h5 {
    font-size: .75em;
}

article img {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 10px auto;
    box-shadow: 0 0 10px 5px rgb(221,221,221);
}

article {
    background-color: rgb(52,103,92, 0.5);
    padding: 20px;
    margin: 15px auto;
    border: 1px solid rgba(33,41,48);
}

article p {
    margin: 10px auto;
}

.contact {
    background-color: rgb(52,103,92);
    margin: 15px auto 0px;
    padding: .5em;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.contact p {
    color: rgb(241,239,235);
}

.contact a {
    text-decoration: none;
    color: rgb(241,239,235);
}

.contact h4 {
    color: rgb(241,239,235);
    text-shadow: 0 0 5px rgba(33,41,48);
}

.contactinfo a img {
    max-width: 1em;
}

.map {
    max-width: 150px;
    display: inline-block;
    /*border: 2px solid rgba(33,41,48);*/
    grid-row-start: 1;
}

.contactinfo {
    grid-row-start: 2;
    display: inline-block;
    margin: 0 1em;
    /*border: 3px solid yellow;*/
}

.eventarticle {
    border: none;
    display: inline-block;
    grid-row-start: 3;
    margin: 0;
    padding: 0;
}

.contact article ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contact article li {
    color: rgb(241,239,235);
}

.contact article .name {
    font-weight: bold;
    text-shadow: 0 0 5px rgba(33,41,48);
}

.contact article .name li {
    font-weight: normal;
    text-indent: 2em;
}
.smallicon {
    border: none;
    display: inline;
    max-height: 1em;
}

footer {
    background-color: rgba(33,41,48);
    font-size: .75em;
    color: rgb(241,239,235);
    text-align: center;
    padding: 1em;
}

footer span {
    color: rgb(241,239,235);
}

footer a {
    color: rgb(241,239,235);
    text-decoration: none;
}

footer a img {
    height: 12px;
    width: auto;
}

.gallery {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

.gallery figure {
    padding: 1rem;
    margin: .5rem;
    font-style: italic;
    box-shadow: 0 0 10px 5px rgb(221,221,221);
}

.gallery figure img {
    width: 100%;
}

/* -------FORM----------*/
form {
    display: grid;
    align-items: center;
    justify-items: center;
    max-width: 25em;

}
form fieldset {
    /*border: 2px solid rgba(33,41,48);
    border-radius: 7px;*/
    padding: 1rem;
    border: none;
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    width: 100%;
}

form legend {
    padding: .75rem;
    font-size: 1.25rem;
    color: rgb(241,239,235);
    font-weight: bolder; 
    background-color: rgb(52,103,92);
    width: 100%;
}



/*form label input, form label select, form label textarea, form label, form div {
    width: 100%;
}*/

form label.sbs {
    padding: 1em;
}

form label.sbs input {
    margin: 0 .75em;
}

form label.top,
form div {
    padding: 1rem;
    font-size: 1rem;
}

form label.top input,
form label.top select,
form label.top textarea {
    padding: .75rem;
    border-radius: 7px;
    font-size: 1rem;
    border: 1px solid rgba(33,41,48);
    background-color: rgb(241,239,235);
    display: block;
    width: 100%;
}

form input.submitButton {
    padding: 1rem;
    border-radius: 7px;
    border: 1px solid rgba(33,41,48);
    background-color: rgba(33,41,48);
    color: rgb(241,239,235);
    font-size: 1.25rem;
    width: 50%;
    margin: 0 auto;
    white-space: normal;
}

form label.top input:required {
    border-left: 5px solid red;
}

form label.top input:required:valid {
    border-left: 5px solid rgb(52,103,92);
}

form label.top #ratingvalue {
    display: inline-block;
    text-align: right;
    margin-right: 1rem;
    width: 40%;
}

/* -------Thank You Page ----------*/

.thankyou {
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    margin: 2rem;
}

.weatherthanks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 768px;
}

/* ------ Homepage City Cards -------- */
#cityinfo {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 1em auto;
}

#cityinfo a {
    color: rgba(33,41,48);
    background-color: rgb(52,103,92,0.5);
    border: 4px solid rgba(33,41,48);
    box-shadow: 0 0 10px 5px rgb(221,221,221);
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 1em auto;
    /*border: 3px solid hotpink;*/
}

#cityinfo h2 {
    font-family: 'Paprika', cursive;
    padding: .2em;
    text-shadow: 2px 2px 2px rgba(33,41,48);
    font-weight: bolder;
    font-size: 2rem;
}

#cityinfo img {
    width: 100%;
    margin: 0;
}

#cityinfo h3 {
    font-size: 1rem;
    padding: .2em 1em;
    font-style: italic;
}

#cityinfo .citylabel {
    font-weight: bold;
}

#cityinfo p {
    margin: .5em auto;
}