* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-color: #fff;
}

header {
    background-color: #212930;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: 'Paprika', cursive;
    font-size: 2rem;
    color: #f1efeb;
    padding: .1em;
    text-shadow: 2px 2px 2px #000;
    margin: 0px;
    /*border: 3px solid green;*/
}

.motto {
    font-size: .9rem;
    color: #f1efeb;
    padding: .2em;
    /*border: 3px solid pink;*/
    font-weight: inherit;
    display: block;
}

header img {
    padding: 5px;
    /*border: 3px solid yellow;*/
    margin: 0;
}


main,
footer {
    max-width: 60rem;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1efeb;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.navigation li {
    width: 100%;
}

.navigation li a {
    display: block;
    color: #252119;
    padding: .75rem;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.navigation li a.active {
    background-color: #668d3c;
    color: #f1efeb;
}

.navigation li a:hover:not(.active) {
    background-color: #bdd09f;
    font-weight: 700;
}

.navigation li a:hover {
    font-weight: 700;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

.cityname {
    font-family: roboto, sans-serif;
    text-align: center;
    margin: 15px auto;
    font-size: 1rem;
    font-weight: bold;
    background-color: #668d3c;
    color: #f1efeb;
    padding: .5em;
}

.weathersummary {
    margin: 0 auto;
    position: relative;

}

.cityimage {
    width: 100%;
    margin: 0 auto;
    box-shadow: 5px 5px 10px #aaaaaa;
}

.summary {
    position: absolute;
    top: 1rem;
    left: 1rem;
    border: 2px solid #212930;
    box-shadow: 10px 10px 10px #21293021;
    border-radius: 5px;
    background-color: #212930a8;
    padding: 1rem;
    line-height: 1.2em;
    letter-spacing: .12em;
}

.summary h3 {
    color: #f1efeb;
    text-align: center;
    font-weight: inherit;
    line-height: 1.7em;
    font-size: 1.5em;
    text-decoration-line: underline;
}

.summarydetails {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
}

.label {
    text-align: right;
    color: #f1efeb;
    display: inline-block;
    width: 50%;
}

.value {
    text-align: left;
    color: #f8e917;
    display: inline-block;
    width: 50%;

}

.fivedayforecast {
    max-width: 768px;
    margin: 10px auto;
    text-align: center;
    display: none;
}

.forecasticon img {
    max-width: 50px;
}

.fivedayforecast h4 {
    padding: 10px;
}

.forecasttable {
    border: 1px solid #212930;
    column-width: 100px;
}

.forecasttable th {
    border-bottom: 1px solid #212930;
    font-size: 1em;
    padding: 3px;
    width: 20%;

}

article h4,
article h5 {
    font-family: roboto, sans-serif;
    padding: 5px;
}

article h4 {
    font-size: 1.5em;
}

article h5 {
    font-size: .75em;
    color: #172507;
}

article img {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 10px auto;
    box-shadow: 0 0 10px 5px #777;


}

article {
    background-color: #668d3c79;
    padding: 20px;
    margin: 15px auto;
    border: 1px solid #212930;
}

article p {
    margin: 10px auto;
}

.contact {
    background-color: #668d3c;
    margin: 15px auto 0px;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#map {
    max-width: 250px;
    display: inline-block;
    border: 2px solid #212930;
    grid-row-start: 1;
    margin: 0 auto;
}

.contactinfo {
    grid-row-start: 2;
    display: inline-block;
    padding: 10px;
    margin: 0 auto;
    /*border: 3px solid yellow;*/

}

.smallicon {
    border: none;
    display: inline;
}

footer {
    background-color: #212930;
    font-size: .75em;
    color: #f1efeb;
    vertical-align: center;
    text-align: center;
    margin: 0 auto;
    padding: 1em;
}

.gallery {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

.gallery figure {
    padding: 1rem;
    margin: .5rem;
    font-style: italic;
    box-shadow: 0 0 5px 5px #ddd;
}

.gallery figure img {
    width: 100%;
}

/* -------FORM----------*/

form fieldset {
    margin: 1.5rem;
    border: 2px solid #212930;
    border-radius: 7px;
    padding: 1rem;
}

form legend {
    margin: 0 3rem;
    padding: 0 .5rem;
    font-size: 1.25rem;
}

form label.top,
form div {
    display: block;
    padding: 1rem;
    color: #172507;
    font-size: 1rem;
}

form label.top input,
form label.top select,
form label.top textarea {
    padding: .75rem;
    border-radius: 7px;
    display: block;
    font-size: 1rem;
    border: 1px solid #666;
    width: 100%;
    max-width: 20rem;
    background-color: #eee;
}

form label.sbs {
    display: block;
    padding: .75rem;
}

form input.submitButton {
    margin: 1.5rem 3.5rem;
    padding: 1rem;
    border-radius: 7px;
    border: 1px solid #212930;
    background-color: #212930;
    color: #f1efeb;
    font-size: 1.5rem;
    width: 100%;
    max-width: 20rem;
    ;
}

form label.top input:required {
    border-left: 5px solid red;
}

form label.top input:required:valid {
    border-left: 5px solid #668d3c;
}

form label.top #ratingvalue {
    display: inline-block;
    text-align: right;
    margin-left: 12rem;
}

/* -------Thank You Page ----------*/

.thankyou {
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    margin: 2rem;
}

.weatherthanks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 768px;
}
